.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100%;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 50px;
    img {
        width: 40vw;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}
