
@for (player of game.players; track $index) {
  <app-player [name]="player" [playerActive]="$index == game.currentPlayer" [ngStyle]="{ 'top.px': 100 + ($index * 90) }" class="player-position"></app-player>
}

<div class="field">
  <div class="card-stack">
    @for (card of [0,1,2,3]; track $index) {
    <img [ngStyle]="{ 'right.px': $index * 5 }" src="./assets/img/cards/card_cover.png" alt=""/>
    }
    <img (click)="takeCard()" class="top-card" [ngStyle]="{ 'right.px': 4 * 5 }"
      src="./assets/img/cards/card_cover.png" alt=""/>
    
    @for (card of game.playedCards; track $index) {
    <img class="played-card" src="./assets/img/cards/{{ card }}.png" alt=""/>
    }
    <img (click)="takeCard()" *ngIf="pickCardAnimation" [class.take-card]="pickCardAnimation"
      class="take-card" [ngStyle]="{ 'right.px': 4 * 5 }" src="./assets/img/cards/{{ currentCard }}.png" alt=""/>
  </div>
</div>

<app-game-info></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="button-add">
  <mat-icon>add</mat-icon>
</button>